.Welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: url("../src/assets/lighthouse.jpg") no-repeat center/cover;
  overflow: hidden;
  box-sizing: border-box;
  height: 87.7vh;
}

.Welcome_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(138, 118, 141, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(241, 151, 244, 0.3);
}

.Welcome h1 {
  font-size: 4rem;
}

.Welcome h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

